body {

}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.currentTrainScheduleContainer {
	border: blue 2px solid;
	border-radius: 5px;
}

.currentTrainScheduleHeader {
	background-color: orange;
}

.addTrainContainer {
	border: blue 2px solid;
	border-radius: 5px;
}

.addTrainHeader {
	background-color: orange;
}

.row {
	border-bottom: green 2px solid;
}

.col-md-2 {
	border-left: red 2px solid;
	border-right: red 2px solid;
	border-top: red 2px solid;
}

.col-md-4 {
	border-left: red 2px solid;
	border-right: red 2px solid;
	border-top: red 2px solid;
}

.inputHeading {
	margin-left: 10px;
	margin-bottom: 5px;
}

.submitButton {
	margin-left: 10px;
	margin-bottom: 10px;
}

input {
	display: block;
	margin: auto;
	width: 98%;
}